.LandPage{
    width: 95%;
    height: 95%;
    border: 2px solid blueviolet;
    border-radius: 20px;
    display: flex;
    background-color: white;

}
.LandPage-Left{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.LandPage-Left-first{
    width: 100%;
    height: 10%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.LandPage-Left-first img{
    margin-right: 10px;
}
.LandPage-Left-second{
    width: 100%;
    height: 40%;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
}
.LandPage-Left-second-in{
    display: flex;
    /* margin-right: 20px; */
}
.LandPage-Left-second-in img{
    display: flex;
    margin-right: 20px;
}
.LandPage-Left-third{
    width: 100%;
    height: 10%;
    /* border: 1px solid orange; */
    padding-left: 40px;
    
}
.LandPage-Left-third-in{
    display: flex;
}
.LandPage-Left-third-in img{
    margin-right: 20px;
}

.LandPage-right{
    width: 80%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    
}
.LandPage-right-top-main{
    width: 100%;
    height: 10%;
    /* background-color: rgb(43, 226, 58); */
    display: flex;
    justify-content: space-between;
}
.LandPage-right-bottom-main{
    width: 100%;
    height: 80%;
    /* background-color: rgb(226, 43, 195); */
    /* border: solid 1px rgb(226, 43, 195); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.LandPage-right-top-sub-left{
    width: 35%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}
.LandPage-right-top-input{
    width: 300px;
    height: 30px;
    /* background-color: rgb(29, 15, 223); */
    border-radius: 20px;
}
.Search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(241, 235, 235);
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    /* background: transparent; */

}
.LandPage-right-center{
    height: 10%;
    display: flex;
    align-items: center;
    font-size:xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font: bolder;
    font-weight: 200;
    color: blue;
    /* background-color: aqua; */
}
.LandPage-right-top-sub-right{
    width: 40%;
    height: 100%;
    /* background-color: rgb(255, 136, 0); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LandPage-right-top-sub-right-first-sub{
    width: 30px;
    height: 30px;
    /* background-color: blue; */
}
/* .notification-svgrepo{
    width: 30px;
    height: 30px;
    color:blue
} */
.LandPage-right-top-sub-right-second-sub{
    width: 150px;
    height: 30px;
    /* background-color: blue; */
    /* background-color: #0000FF; */
}

.LandPage-right-bottom-main-sub{
    width: 200px;
    height: 200px;
    background-color: rgb(241, 235, 235);
    /* background-color: rgb(63, 58, 58); */

    border-radius: 10px;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.Product-image{
    width: 100px;
    height: 120px;
}
.Product-image-in{
    width: 100px;
    height: 120px;
    /* image background white remove */
    mix-blend-mode: multiply;
}

.Product-logo{
    width: 20px;
    height: 20px;
    /* background-color: blueviolet; */
    position: absolute;
    right: 5px;
    top: 5px;
}
.Product-name{
    width: 80px;
    height: 20px;
    /* background-color: blueviolet; */
    position: absolute;
    left: 5px;
    bottom: 5px;
}
/* .Product-price{
width: 10px;
height: 10px;
background-color: rgb(226, 43, 89);
} */
.Product-price-tag{
    width: 50px;
height: 20px;
/* background-color: rgb(226, 43, 89); */
position: absolute;
right: 5px;
bottom: 5px;
}
p{
    font-size:12px;
    font-weight: bold;
}
h3{
    color: blue;
}
h2{
    color: white;
}
h5{
    color: white;
}